const { Decoder } = require('{{binaryTransferPath}}');
const ConstructorStore = require('./ConstructorStore');

const decoder = new Decoder(ConstructorStore);

{% for schema in schemas %}
exports['{{schema}}'] = require('./{{schema}}');
{% endfor %}

exports.Vector = require('./Vector');
exports.decode = decoder.decode.bind(decoder);
exports.ConstructorStore = ConstructorStore;
