class TypeStore {
    constructor() {
        this.storeById = {};
        this.storeByName = {};
    }

    findTypeFromBuffer(bytes) {
        const typeId = bytes.readUInt32LE(0);

        return this.storeById[typeId];
    }

    findTypeFromName(name) {
        return this.storeByName[name];
    }

    register(id, Type) {
        this.storeById[id] = this.storeByName[Type.name] = Type;
    }
}

export default new TypeStore();
