import { BaseVector } from '{{binaryTransferPath}}';
import ConstructorStore from './ConstructorStore';

class Vector extends BaseVector {
    static store = ConstructorStore;

    constructor(options) {
        super(options);
    }

    static createVector(options) {
        return new Vector(options);
    }
}

module.exports = Vector;
